<%- include("includes/head.ejs") %>

<body>
    <h1>This is the home page 1*2</h1>
    <h3>
        <%= 1*2 %>
        <%= "Shankar Sala".toUpperCase()  %>
        <%= ["hello", "Raja", "Ram"][2] %>
    </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero officia ex ad eius sint, eveniet iusto consectetur
        perspiciatis voluptas nulla, assumenda sunt facilis totam nostrum fuga ut? Dolore, ad numquam?</p>
    <button>Click Me </button>
</body>

</html>